<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jeu de plateau</title>
    <link rel="stylesheet" href="./Assets/CSS/animate.min.css" />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <!-- /////////////////////
              Vue App
        ////////////////////// -->

    <div id="app">
      <div class="mainMenu" v-if="menu">
        <h2 class="mainLinks" @click="startGame()">New Game</h2>
        <h2 class="mainLinks" @click="toggleOptions()">Option</h2>
      </div>

      <div id="options" class="mainMenu" v-if="options">
        <h6>map width :</h6>
        <div class="number-spinner">
          <button @click="spinner" class="btn" data="dwnX">-</button>
          <input v-model="mapX" type="text" />
          <button @click="spinner" class="btn" data="upX">+</button>
        </div>
        <h6>map height :</h6>
        <div class="number-spinner">
          <button @click="spinner" class="btn" data="dwnY">-</button>
          <input v-model="mapY" type="text" />
          <button @click="spinner" class="btn" data="upY">+</button>
        </div>

        <h2 class="mainLinks" @click="toggleOptions()">Return</h2>
      </div>

      <!-- /////////////////////
              Jquery game 
        ////////////////////// -->

      <game id="game" v-if="start" v-once>
        <!-- <div id="board">
          <div class="mapRow" x="1">
          <div class="tile wall" y="1">
            <div class="objects"></div>
          </div>
        </div>
        </div>
        <div id="menu">
          <h2>MENU</h2>
          <div id="charSheet">
            <div class="character knight">
              <h3>KNIGHT</h3>
              <p>Life: <span id="player1Life"></span></p>
              <p>Weapon: <span id="player1Weapon"></span></p>
              <p>Damage: <span id="player1Damage"></span></p>
            </div>
            <div class="character mage">
              <h3>MAGE</h3>
              <p>Life: <span id="player2Life"></span></p>
              <p>Weapon: <span id="player2Weapon"></span></p>
              <p>Damage: <span id="player2Damage"></span></p>
            </div>
          </div>
          <div id="menuBtn">
            <button id="attackBtn" class="btn disabled">Attack</button>
            <button id="defendBtn" class="btn disabled">Defend</button>
          </div>
          <div class="combatLog">
            <ul></ul>
          </div>
        </div> -->
      </game>
    </div>

    <script src="./Assets/JS/jQuery.js"></script>
    <script src="./Assets/JS/vue.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
