/*  FONTS */

@font-face {
  font-family: gameOver;
  src: url(./Assets/fonts/LVDCGO__.TTF);
}

/* APP */

#app {
  display: flex;
  justify-content: center;
}
#board {
  position: relative;
}

/* MENU */

#menu {
  margin: 20px;
  font-family: gameOver, cursive;
}

#menu h2 {
  text-align: center;
  font-size: 14px;
}
#menu p {
  font-size: 10px;
}
/* Charsheet */
.character h3 {
  margin: -1.5rem auto 1rem;
  display: table;
  padding: 0.5rem 0.5rem;
}

#charSheet {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.character {
  display: inline-block;
  position: relative;
  border-color: #000;
  border-style: solid;
  border-width: 6px;
  margin: 15px;
  padding: 10px 20px;
  max-width: 500px;
  min-width: 160px;
}
/* .character:before,
.character:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.character:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
.character:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
} */

.mage,
.character.mage h3 {
  background-color: rgb(43, 159, 226);
}
.knight,
.character.knight h3 {
  background-color: rgb(231, 53, 53);
}
/* Buttons */
#menuBtn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#menu a {
  margin: 15px;
  width: 140px;
}
.btn {
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.btn:before,
.btn:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}
.btn:before {
  top: -6px;
  left: 0;
  border-top: 6px black solid;
  border-bottom: 6px black solid;
}
.btn:after {
  left: -6px;
  top: 0;
  border-left: 6px black solid;
  border-right: 6px black solid;
}
/* Attack Btn */
#attackBtn {
  background: #e76e55;
  box-shadow: inset -4px -4px 0px 0px #8c2022;
}
#attackBtn:hover,
#attackBtn:focus {
  background: #ce372b;
  box-shadow: inset -6px -6px 0px 0px #8c2022;
}
#attackBtn:active {
  box-shadow: inset 4px 4px 0px 0px #8c2022;
}
/* Defend Btn */
#defendBtn {
  background: #92cd41;
  box-shadow: inset -4px -4px 0px 0px #4aa52e;
}
#defendBtn:hover,
#defendBtn:focus {
  background: #76c442;
  box-shadow: inset -6px -6px 0px 0px #4aa52e;
}
#defendBtn:active {
  box-shadow: inset 4px 4px 0px 0px #4aa52e;
}

/* CombatLog */
.combatLog {
  overflow: auto;
  height: 250px;
  color: #000;
  font-size: 12px;
}
.combatLog ul {
  list-style: none;
  padding: 0;
}

.combatLog li {
  padding: 1em;
}
.combatLog li:nth-child(odd) {
  background-color: rgb(43, 159, 226);
}

/* END GAME */

.win::after {
  content: '';
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.gameOver {
  color: rgb(255, 0, 0);
  font-family: gameOver, monospace;
  font-size: 40px;
  width: 600px;
  text-align: center;
  position: absolute;
  top: 40%;
  left: Calc(50% - 300px);
}

.winner {
  color: rgb(255, 0, 0);
  font-family: gameOver, monospace;
  font-size: 19px;
  width: 400px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: Calc(50% - 200px);
}

/* MAP */

.mapRow {
  display: flex;
}

.floor {
  background: url(./Assets/img/Map//Floors/floor_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  position: relative;
}

.wall {
  background-image: url(./Assets/img/Map/wall_mid.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 70px;
  width: 70px;
}
.sideLimit {
  background-image: url(./Assets/img/Map/wall_sides.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 70px;
  width: 22px;
}

.topBotLimit {
  background-image: url(./Assets/img/Map/wall_bottom_mid.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 74px;
  width: 70px;
}

.sideTopLeft {
  background-image: url(./Assets/img/Map/wall_side_top_left.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 74px;
  width: 22px;
}
.sideTopRight {
  background-image: url(./Assets/img/Map/wall_side_top_right.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 74px;
  width: 22px;
}
.sideBottomLeft {
  background-image: url(./Assets/img/Map/wall_side_bottom_left.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 74px;
  width: 22px;
}
.sideBottomRight {
  background-image: url(./Assets/img/Map/wall_side_bottom_right.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 74px;
  width: 22px;
}

/* WEAPONS */

.weapons {
  width: 15px;
  background-repeat: no-repeat;
  background-size: contain;
}

/* PLAYERS */

.player {
  height: 46px;
  width: 33px;
  background-repeat: no-repeat;
  background-size: contain;
}
.player1 {
  background-image: url(./Assets/img/Players/knight_idle-sprit.png);
}
.player2 {
  background-image: url(./Assets/img/Players/mage_idle-sprit.png);
}
.player1,
.player2 {
  background-size: cover;
  -webkit-animation: play 0.8s steps(4) infinite;
  -moz-animation: play 0.8s steps(4) infinite;
  -ms-animation: play 0.8s steps(4) infinite;
  -o-animation: play 0.8s steps(4) infinite;
  animation: play 0.8s steps(4) infinite;
}
@-webkit-keyframes play {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -134px;
  }
}
@-moz-keyframes play {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -134px;
  }
}
@-ms-keyframes play {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -134px;
  }
}
@-o-keyframes play {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -134px;
  }
}
@keyframes play {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -134px;
  }
}

/* MOVEMENT */

.movement::after {
  content: '';
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
