body {
  height: 100vh;
}

.mapRow {
  display: flex;
}

.floor {
  background: url(./Assets/img/Map//Floors/floor_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 75px;
  width: 75px;
  display: flex;
  justify-content: center;
  position: relative;
}

.wall {
  background-image: url(./Assets/img/Map/wall_mid.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 75px;
  width: 75px;
}
.sideLimit {
  background-image: url(./Assets/img/Map/wall_sides.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 75px;
  width: 22px;
}

.topBotLimit {
  background-image: url(./Assets/img/Map/wall_bottom_mid.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
  width: 75px;
}

.sideTopLeft {
  background-image: url(./Assets/img/Map/wall_side_top_left.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
  width: 22px;
}
.sideTopRight {
  background-image: url(./Assets/img/Map/wall_side_top_right.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
  width: 22px;
}
.sideBottomLeft {
  background-image: url(./Assets/img/Map/wall_side_bottom_left.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
  width: 22px;
}
.sideBottomRight {
  background-image: url(./Assets/img/Map/wall_side_bottom_right.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
  width: 22px;
}

.objects {
  height: 46px;
  width: 33px;
  background-repeat: no-repeat;
  background-size: contain;
}

.player1 {
  background-image: url(./Assets/img/Players/knight_idle-sprit.png);
}
.player2 {
  background-image: url(./Assets/img/Players/mage_idle-sprit.png);
}
.player1,
.player2 {
  background-size: cover;
  -webkit-animation: play 0.8s steps(4) infinite;
  -moz-animation: play 0.8s steps(4) infinite;
  -ms-animation: play 0.8s steps(4) infinite;
  -o-animation: play 0.8s steps(4) infinite;
  animation: play 0.8s steps(4) infinite;
}
@-webkit-keyframes play {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -134px;
  }
}
@-moz-keyframes play {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -134px;
  }
}
@-ms-keyframes play {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -134px;
  }
}
@-o-keyframes play {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -134px;
  }
}
@keyframes play {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: -134px;
  }
}

.movement::after {
  content: '';
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
